@using WebsiteMuaBanNhaDat1.Models
@model IEnumerable<LoaiHinh>
@foreach (var item in Model)
{
    if (item.ghichu == "0") { 
<li class="col-lg-12 col-sm-12 col-xs-3"><a href="@Url.Action(item.tenkhongdau,"Home")">@item.ten_loaihinh</a></li>
    }
}