
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
                $(document).ready(function () {
                        // alert("hi");
                            $('.nav-list > li').removeClass('active');
                            $("#Index1").addClass('active');
                });
</script>
<h2>Index1</h2>

