@using WebsiteMuaBanNhaDat1.Models
@model IEnumerable<NoiDungLoaiHinh>
    @foreach (var item in Model)
    {
        <a href="@Url.Action(item.tenkhongdau,"Home")">@item.ten_ndloaihinh</a>
    }
