<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/assets/css/pannellum.css" rel="stylesheet" />
    <script src="~/Content/assets/css/pannellum.js"></script>
    <style>
        #panorama {
           max-width:1380px;
        height: 670px;
        }
    </style>
</head>
<body>
    <div id="panorama"></div>
        @RenderBody()
    
</body>
</html>
