



<div class="footer">

    <div class="container">



        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <h4>Liên kết</h4>
                <ul class="row">
                    @Html.Action("FooterPartial", "Home")
                </ul>
            </div>

            <div class="col-lg-3 col-sm-3">
                <h4>Đăng ký nhận tin</h4>
                <p>Nhập email để nhận thông tin mới nhất</p>
                @using (Html.BeginForm("DangKyNhanTin", "Home",FormMethod.Post, new {@class= "form-inline" }))
                {
                    <input type="text" placeholder="Nhập địa chỉ email..." class="form-control" name="txtEmail">
                    <button class="btn btn-success" type="submit">Thông báo cho tôi</button>
                }
            </div>

            <div class="col-lg-3 col-sm-3">
                <h4>Thông tin</h4>
                <a href="#"><img src="~/Content/images/facebook.png" alt="facebook"></a>
                <a href="#"><img src="~/Content/images/twitter.png" alt="twitter"></a>
                <a href="#"><img src="~/Content/images/linkedin.png" alt="linkedin"></a>
                <a href="#"><img src="~/Content/images/instagram.png" alt="instagram"></a>
            </div>

            <div class="col-lg-3 col-sm-3">
                <h4>Liên hệ</h4>
                <p>
                    <b>LC RealEstate Inc.</b><br>
                    <span class="glyphicon glyphicon-map-marker"></span> 167 Đại lộ Bình Dương, tỉnh Bình Dương <br>
                    <span class="glyphicon glyphicon-envelope"></span> thaitruclinh151296@gmail.com<br>
                    <span class="glyphicon glyphicon-earphone"></span> 01249558108
                </p>
            </div>
        </div>
        <p class="copyright">Copyright @Html.Action("LayNamHienTai", "Home"). All rights reserved.	</p>


    </div>
</div>
