<div class="hot-properties hidden-xs">
    <h4>Hot Properties</h4>
    <div class="row">
        <div class="col-lg-4 col-sm-5"><img src="images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
        <div class="col-lg-8 col-sm-7">
            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
            <p class="price">$300,000</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-5"><img src="images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
        <div class="col-lg-8 col-sm-7">
            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
            <p class="price">$300,000</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-5"><img src="images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
        <div class="col-lg-8 col-sm-7">
            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
            <p class="price">$300,000</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-5"><img src="images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
        <div class="col-lg-8 col-sm-7">
            <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
            <p class="price">$300,000</p>
        </div>
    </div>

</div>
