
@{
    ViewBag.Title = "Cần mua - Cần thuê";
    Layout = "~/Views/Shared/_LayoutTheoLoai.cshtml";
}
<style>
    .khung {
    }

    .muc {
        background-color: #64a30a;
        color: white;
        font-size: 17px;
        padding: 8px;
    }

    #map {
        height: 300px;
        width: 100%;
    }
</style>
<div class="col-lg-12">
    <a href="@Url.Action("DangTinCBCHT","DangTin")" class="btn " style="width:40%;border-radius:0px;font-size:16px;background-color:#64a30a;color:white;opacity:0.6;">Cần bán/Cho thuê</a>
    <a href="@Url.Action("DangTinCMCT","DangTin")" class="btn btn-github" style="width:40%;border-radius:0px;font-size:16px;">Cần mua/Cần thuê</a>
</div>
<hr />
@using (Html.BeginForm("DangTinCMCT", "DangTin", FormMethod.Post, new { @class = "form-inline" }))
{
    @*------------------LỊCH ĐĂNG TIN-------------------- *@
    <div class="col-lg-12">
        <div class="col-lg-12 muc">
            <b>LỊCH ĐĂNG TIN</b>
        </div>
        <div class="col-lg-12" style="border:1px solid #808080;background-color:white;padding-top:8px;">
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Ngày bắt đầu
                </div>
                <div class="col-lg-10" style="">
                    <input type="date" id="ngaybatdau1" name="txtNgayBatDau" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="width:60%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Ngày kết thúc
                </div>
                <div class="col-lg-10" style="">
                    <input type="date" id="ngayketthuc1" name="txtNgayKetThuc" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="width:60%" />
                </div>
            </div>
        </div>
    </div>
    @*-------------------END LỊCH ĐĂNG TIN------------------- *@
    @*-------------------THÔNG TIN MÔ TẢ------------------- *@
    <div class="col-lg-12">
        <div class="col-lg-12 muc">
            <b>THÔNG TIN MÔ TẢ</b>
        </div>
        <div class="col-lg-12" style="border:1px solid #808080;background-color:white;padding-top:8px;">
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Tiêu đề (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-10" style="">
                    <input type="text" name="txtTieuDe" maxlength="100" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-12">(<b style="color:red;">*</b>) Tối đa chỉ 3000 ký tự</div>
                <div class="col-lg-8" style="">
                    <textarea name="txtMoTa" style="width:100%;height:130px" minlength="30" maxlength="2000"></textarea>
                </div>
                <div class="col-lg-4" style="">
                    Giới thiệu chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần công viên, gần trường học ... Tổng diện tích 52m2, đường đi ô tô vào tận cửa.
                    <br /><i style="color:red;">Lưu ý: tin rao chỉ để mệnh giá tiền Việt Nam Đồng.</i>
                </div>
            </div>
            <div class="col-lg-12" style="background-color:white;padding-top:8px;padding-bottom:10px">
                <br />
                <div class="col-lg-12">** Tối đa 4 ảnh chụp thường</div>

                <br />
                <div class="col-lg-12">
                    <input type="file" name="files" multiple id="up">
                    <div class="gallery"></div>
                </div>
            </div>
        </div>
    </div>
    @*-------------------END THÔNG TIN MÔ TẢ------------------- *@
    @*-------------------THÔNG TIN CƠ BẢN------------------- *@
    <div class="col-lg-12">
        <div class="col-lg-12 muc">
            <b>THÔNG TIN CƠ BẢN</b>
        </div>
        <div class="col-lg-12" style="border:1px solid #808080;background-color:white;padding-top:8px;">
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Hình thức (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-4" style="">
                    <input type="text" maxlength="100" style="width:100%" />
                </div>
                <div class="col-lg-2" style="">
                    Loại (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-4" style="">
                    <input type="text" maxlength="100" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Tỉnh/TP (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-4" style="">
                    <input id="TinhTP" type="text" maxlength="100" style="width:100%" />
                </div>
                <div class="col-lg-2" style="">
                    Quận/Huyện (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-4" style="">
                    <input type="text" maxlength="100" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Phường/Xã(<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-4" style="">
                    <input type="text" maxlength="100" style="width:100%" />
                </div>
                <div class="col-lg-2" style="">
                    Đường/Phố (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-4" style="">
                    <input type="text" maxlength="100" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Diện tích từ(<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-2" style="">
                    <input type="text" name="txtDTMin" style="width:100%" />
                </div>
                <div class="col-lg-2" style="">
                    Diện tích đến (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-2" style="">
                    <input type="text" name="txtDTMax" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Giá từ(<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-2" style="">
                    <input type="text" name="txtGiaMin" style="width:100%" />
                </div>
                <div class="col-lg-2" style="">
                    Giá đến (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-2" style="">
                    <input type="text" name="txtGiaMax" style="width:100%" />
                </div>
                <div class="col-lg-2" style="">
                    Đơn vị (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-2" style="">
                    <input type="text" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Địa chỉ (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-10" style="">
                    <input type="text" maxlength="100" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
    @*-------------------END THÔNG TIN CƠ BẢN------------------- *@
    @*------------------LIÊN HỆ-------------------- *@
    <div class="col-lg-12">
        <div class="col-lg-12 muc">
            <b>LIÊN HỆ</b>
        </div>
        <div class="col-lg-12" style="border:1px solid #808080;background-color:white;padding-top:8px;">
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Tên liên hệ (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-10" style="">
                    <input type="text" name="txtTenLienHe" maxlength="100" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Địa chỉ (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-10" style="">
                    <input type="text" name="txtDiaChi" maxlength="100" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Điện thoại (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-10" style="">
                    <input type="text" name="txtDienThoai" maxlength="100" style="width:60%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Di động (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-10" style="">
                    <input type="text" name="txtDiDong" maxlength="100" style="width:60%" />
                </div>
            </div>
            <div class="col-lg-12 khung">
                <div class="col-lg-2" style="">
                    Email (<b style="color:red;">*</b>)
                </div>
                <div class="col-lg-10" style="">
                    <input type="text" name="txtEmail" maxlength="100" style="width:60%" />
                </div>
            </div>
        </div>
    </div>
    @*-------------------END LIÊN HỆ------------------- *@
    <div class="col-lg-12">
        <br />
        <center>
            <input type="submit" value="ĐĂNG TIN" class="btn btn-lg btn-facebook" style="border-radius:0px;width:40%;font-weight:bold" />
        </center>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    var map;
    function LamMoiMap() {
        initMap();
        $("#latclicked1").val('');
        $("#longclicked1").val('');
        $("#latclicked2").val('');
        $("#longclicked2").val('');
        $("#latclicked3").val('');
        $("#longclicked3").val('');
        $("#latclicked4").val('');
        $("#longclicked4").val('');
        $("#latclicked5").val('');
        $("#longclicked5").val('');
        $("#latclicked6").val('');
        $("#longclicked6").val('');

}
    function initMap() {
        var latitude = 0; // YOUR LATITUDE VALUE
        var longitude = 0; // YOUR LONGITUDE VALUE
        geocoder = new google.maps.Geocoder();
        var address;
            address = "167 Đại lộ Bình Dương, TX. Thủ Dầu Một, Binh Dương, Vietnam";
        geocoder.geocode({ 'address': address }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                latitude = latitude + results[0].geometry.location.lat()
                longitude = longitude + results[0].geometry.location.lng()
                // alert("Latitude: " + results[0].geometry.location.lat());
                // alert("Longitude: " + results[0].geometry.location.lng());




                var myLatLng = { lat: latitude, lng: longitude };

                map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    zoom: 15,
                    disableDoubleClickZoom: true, // disable the default map zoom on double click
                });
                var dem = 0;
                // Update lat/long value of div when anywhere in the map is clicked
                google.maps.event.addListener(map, 'dblclick', function(event) {
                    dem = dem + 1;
                    document.getElementById('latclicked' + dem).value = event.latLng.lat();
                    document.getElementById('longclicked' + dem).value = event.latLng.lng();
                });

                // Update lat/long value of div when you move the mouse over the map
                // google.maps.event.addListener(map,'mousemove',function(event) {
                //     document.getElementById('latmoved').innerHTML = event.latLng.lat();
                //     document.getElementById('longmoved').innerHTML = event.latLng.lng();
                // });

                var marker = new google.maps.Marker({
                    // position: myLatLng,
                    map: map,
                    //title: 'Hello World'

                    // setting latitude & longitude as title of the marker
                    // title is shown when you hover over the marker
                    title: latitude + ', ' + longitude
                });

                // Update lat/long value of div when the marker is clicked
                marker.addListener('click', function(event) {
                    document.getElementById('latclicked').innerHTML = event.latLng.lat();
                    document.getElementById('longclicked').innerHTML = event.latLng.lng();
                });

                // Create new marker on double click event on the map
                google.maps.event.addListener(map, 'dblclick', function(event) {
                    var marker = new google.maps.Marker({
                        position: event.latLng,
                        map: map,
                        title: event.latLng.lat() + ', ' + event.latLng.lng()
                    });

                    // Update lat/long value of div when the marker is clicked
                    marker.addListener('click', function() {
                        document.getElementById('latclicked').innerHTML = event.latLng.lat();
                        document.getElementById('longclicked').innerHTML = event.latLng.lng();
                    });
                });
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month1 = ("0" + (now.getMonth() + 1)).slice(-2);
        var month2 = ("0" + (now.getMonth() + 2)).slice(-2);
        var today = now.getFullYear() + "-" + (month1) + "-" + (day);
        var nextday = now.getFullYear() + "-" + (month2) + "-" + (day);

        $('#ngayketthuc1').val(nextday);
        $('#ngayketthuc1').change(function () {
            var startDate = $('#ngaybatdau1').val().replace('-', '');
            var endDate = $('#ngayketthuc1').val().replace('-', '');
            if (startDate >= endDate) {
                alert("Ngày kết thúc phải muộn hơn Ngày đăng ký!");
                $('#ngayketthuc1').val(nextday);
                return false;
            }
        });
        $('#ngaybatdau1').change(function () {
            var startDate = $('#ngaybatdau1').val().replace('-', '');
            var endDate = $('#ngayketthuc1').val().replace('-', '');
            if (startDate >= endDate) {
                alert("Ngày đăng ký phải sớm hơn Ngày kết thúc!");
                $('#ngaybatdau1').val(today);
                return false;
            }
        });

        var $fileUpload = $("#up");
        $("input[type='submit']").click(function () {
            if (parseInt($fileUpload.get(0).files.length) > 4) {
                alert("Chỉ được chọn tối đa 4 ảnh thường!");
                $("#up").click();
                return false;
            }
            var fileInput = $("#anh360")[0];
            var imgbytes = fileInput.files[0].size; // Size returned in bytes.
            var imgkbytes = Math.round(parseInt(imgbytes) / 1024);
            // alert(imgkbytes + ' KB');
            if (imgkbytes > 4096) {
                alert("Kích thước ảnh 360 độ phải <= 4096 KB");
                return false;
            }
        });
        $fileUpload.change(function () {
            if (parseInt($fileUpload.get(0).files.length) > 4) {
                alert("Chỉ được chọn tối đa 4 ảnh thường!");
                $("#up").click();
                return false;
            }
        });
        $("#anh360").change(function () {
            var fileInput = $("#anh360")[0];
            var imgbytes = fileInput.files[0].size; // Size returned in bytes.
            var imgkbytes = Math.round(parseInt(imgbytes) / 1024);
            // alert(imgkbytes + ' KB');
            if (imgkbytes > 4096) {
                alert("Kích thước ảnh 360 độ phải <= 4096 KB");
                return false;
            }
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#anh360").change(function () {
            readURL(this);
            $('#blah').css("display", "block");
        });
        //   });
    });
    $(function () {
        // Multiple images preview in browser
        var imagesPreview = function (input, placeToInsertImagePreview) {

            if (input.files) {
                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        $($.parseHTML('<img width="70" height="70" style="margin-right:15px"> ')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }

        };

        $('#up').on('change', function () {
            $(".gallery").empty();
            imagesPreview(this, 'div.gallery');
        });
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuki0Qg6CPfLna1c2e97kGitDNU3ftUxQ&callback=initMap" async defer></script>